<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
</head>
<body>
    <h2>I am using pug via html files</h2>
    <h3>#{name}</h3>
    p #{content1}
    div #{content2}
    | #{content3}
    #{content4}
</body>
</html>